<div class="container main-page">
  {{generic/app-navbar}}
  <div class="row">
    <div class="col s12">
      This will be the main container of the app.
      Lorem ipsum dolor sit amet, sit libris conceptam theophrastus an, ei torquatos disputationi ius. Est et sanctus iudicabit. Dicat mediocrem cu eos. Te nonumy omnium vel, ut eum tation torquatos. Duo putant quaeque vituperata ad. Modus nemore electram nec ut, scaevola reformidans eam ea.

      Quot eripuit eos cu, quo te molestie imperdiet mediocritatem, ea amet dicta omittam vel. Simul aeterno sensibus vel ne. Vix erant delenit ex, has case delenit pericula no. Alii mundi laudem mei cu, est ad vidisse appareat.

      An pri nobis alienum omittam. Vix te quando deseruisse, est ex novum nusquam definitionem. Ex porro nostro definitiones qui, sed at atqui dicta aperiam. Pri no ludus menandri corrumpit.

      Ex nullam delicata tractatos usu. No eos summo phaedrum, salutandi argumentum eu cum. Ut soluta mentitum rationibus mel. Labore mentitum cu quo. Ex eum graeco vivendo scripserit. Prompta voluptatum id has.

      Ut qui movet ocurreret, ei mei liber graeco. Minim denique suavitate ut sit, iusto constituam ea duo, pri enim idque accusata ad. Ut vel stet lorem iisque, ullum inermis accusam eu sed. Nemore concludaturque ad vis, ex sit homero doming nonumes.
    </div>
  </div>
</div>
